@using TVS_App.Application.Commands.ServiceOrderCommands
@using TVS_App.Domain.Entities
@using TVS_App.Domain.Enums
@using TVS_App.Web.Extensions
@using TVS_App.Web.Handlers
<MudDialog>
    <TitleContent>
        <h2 class="font-extrabold text-xl lg:text-3xl font-sans text-[#750303] text-center">ADICIONAR ENTREGA - OS @ServiceOrder.Id</h2>
    </TitleContent>

    <DialogContent>
        <!-- EMPRESA -->
        <section class="border-b border-[#dfdfdf] py-4">
            <h2 class="text-[#750303] text-lg font-bold uppercase mb-2">Empresa</h2>
            <p class="text-base font-semibold">@ServiceOrder.Enterprise.GetDisplayName()</p>
        </section>

        <!-- DADOS DO CLIENTE -->
        <section class="border-b border-[#dfdfdf] py-4">
            <h2 class="text-[#750303] text-lg font-bold uppercase mb-4">Dados do Cliente</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Nome:</span> @ServiceOrder.Customer.Name.CustomerName</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Telefone 1:</span> @ServiceOrder.Customer.Phone.CustomerPhone</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Endereço:</span> @ServiceOrder.Customer.Address.ToString().ToUpper()</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Telefone 2:</span> @ServiceOrder.Customer.Phone2.CustomerPhone</p>
            </div>
        </section>

        <!-- DADOS DO PRODUTO -->
        <section class="border-b border-[#dfdfdf] py-4">
            <h2 class="text-[#750303] text-lg font-bold uppercase mb-4">Dados do Produto</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Tipo:</span> @ServiceOrder.Product.Type.GetDisplayName()</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Marca:</span> @ServiceOrder.Product.Brand</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Modelo:</span> @ServiceOrder.Product.Model</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Série:</span> @ServiceOrder.Product.SerialNumber</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Defeito:</span> @ServiceOrder.Product.Defect</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Data de Entrada:</span> @ServiceOrder.EntryDate.ToString("dd/MM/yyyy")</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Prateleira:</span> @ServiceOrder.Product.Location</p>
            </div>
            <div class="mt-3">
                <LocationButton ServiceOrder="ServiceOrder" OnLocationChanged="UpdateLocation" />
            </div>
        </section>

        <!-- INFORMAÇÕES DO ORÇAMENTO -->
        <section class="border-b border-[#dfdfdf] py-4">
            <h2 class="text-[#750303] text-lg font-bold uppercase mb-4">Informações do Orçamento</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Solução:</span> @ServiceOrder.Solution?.ServiceOrderSolution</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Valor:</span> @ServiceOrder.TotalAmount</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Conserto feito em:</span> @ServiceOrder.RepairDate?.ToString("dd/MM/yyyy")</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Situação:</span> @Situacao</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Tem conserto?</span> @TemConserto</p>
                <p class="text-base font-semibold"><span class="font-bold text-[#750303]">Resposta do Cliente:</span> @Resposta</p>
            </div>
        </section>

        <!-- BOTÃO DE ENTREGA -->
        <section class="py-6 flex justify-end">
            <DeliveryServiceOrderButton OnDeliveryAdded="OnDeliveryAdded" Command="Command" />
        </section>
    </DialogContent>
</MudDialog>



@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public ServiceOrder ServiceOrder { get; set; } = null!;
    [Parameter] public EventCallback OnDeliveryAdded { get; set; }
    [Inject] public ServiceOrderHandler ServiceOrderHandler { get; set; } = null!;
    [Inject] public ISnackbar Snackbar { get; set; } = null!;

    private GetServiceOrderByIdCommand Command => new GetServiceOrderByIdCommand{ Id = ServiceOrder.Id };

    public string Situacao =>
        ServiceOrder.ServiceOrderStatus switch
        {
            EServiceOrderStatus.Entered => "Avaliação pendente",
            EServiceOrderStatus.Evaluated => "Avaliado",
            EServiceOrderStatus.OrderPart => "Aguardando peça",
            EServiceOrderStatus.Repaired => "Consertado",
            EServiceOrderStatus.Delivered => "Entregue",
            _ => "Desconhecido"
        };

    public string TemConserto =>
        ServiceOrder.RepairResult switch
        {
            ERepairResult.Repair => "Sim",
            ERepairResult.Unrepaired => "Não",
            ERepairResult.NoDefectFound => "Não apresentou defeito",
            _ => "Desconhecido"
        };

    public string Resposta =>
        ServiceOrder.RepairStatus switch
        {
            ERepairStatus.Entered => "Sem orçamento ainda",
            ERepairStatus.Waiting => "Aguardando resposta",
            ERepairStatus.Approved => "Aprovado",
            ERepairStatus.Disapproved => "Não aprovou",
            _ => "Desconhecido"
        };

    private async Task UpdateLocation()
    {
        var command = new GetServiceOrderByIdCommand { Id = ServiceOrder.Id };
        
        var result = await ServiceOrderHandler.GetServiceOrderById(command);
        if (result.IsSuccess)
        {
            if (result.Data != null)
            {
                ServiceOrder.Product.AddLocation(result.Data.Product.Location);
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("Ocorreu um erro ao obter a ordem de serviço", Severity.Error);
            }
        }
    }
}