@using TVS_App.Application.Commands.ServiceOrderCommands
@using TVS_App.Domain.Entities
@using TVS_App.Domain.Enums
@using TVS_App.Web.Extensions
@using TVS_App.Web.Handlers
<MudDialog MaxWidth="MaxWidth.Large" FullWidth="true">
    <TitleContent>
        <h2 class="font-extrabold text-xl lg:text-3xl font-sans text-[#750303] text-center">
            ADICIONAR CONSERTO - OS @ServiceOrder.Id
        </h2>
    </TitleContent>

    <DialogContent>
        <MudPaper Class="p-6">

            <!-- EMPRESA -->
            <MudText Typo="Typo.h6" Class="text-[#750303] font-bold uppercase mb-2" Color="Color.Primary">Empresa</MudText>
            <MudText Class="mb-4 font-semibold">@ServiceOrder.Enterprise.GetDisplayName()</MudText>

            <!-- CLIENTE -->
            <MudText Typo="Typo.h6" Color="Color.Primary">Dados do Cliente</MudText>
            <MudGrid Class="mb-4">
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Nome" Value="@ServiceOrder.Customer.Name.CustomerName" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Telefone 1" Value="@ServiceOrder.Customer.Phone.CustomerPhone" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Endereço" Value="@ServiceOrder.Customer.Address.ToString().ToUpper()" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Telefone 2" Value="@ServiceOrder.Customer.Phone2.CustomerPhone" ReadOnly="true" />
                </MudItem>
            </MudGrid>

            <!-- PRODUTO -->
            <MudText Typo="Typo.h6" Class="text-[#750303] font-bold uppercase mb-2" Color="Color.Primary">Dados do Produto</MudText>
            <MudGrid Class="mb-4">
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Tipo" Value="@ServiceOrder.Product.Type.GetDisplayName()" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Marca" Value="@ServiceOrder.Product.Brand" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Modelo" Value="@ServiceOrder.Product.Model" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Série" Value="@ServiceOrder.Product.SerialNumber" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Variant="Variant.Outlined" Label="Defeito" Value="@ServiceOrder.Product.Defect" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Data de Entrada" Value="@ServiceOrder.EntryDate.ToString("dd/MM/yyyy")" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Label="Data da Compra" Value="@ServiceOrder.PurchasePartDate?.ToString("dd/MM/yyyy")" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Prateleira" Value="@ServiceOrder.Product.Location" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <LocationButton ServiceOrder="ServiceOrder" OnLocationChanged="UpdateLocation" />
                </MudItem>
            </MudGrid>

            <!-- ORÇAMENTO -->
            <MudText Typo="Typo.h6" Class="text-[#750303] font-bold uppercase mb-2" Color="Color.Primary">Informações do Orçamento</MudText>
            <MudGrid Class="mb-4">
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Solução" Value="@ServiceOrder.Solution?.ServiceOrderSolution" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Valor" Value="@ServiceOrder.TotalAmount" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Data da Aprovação" Value="@ServiceOrder.ResponseDate?.ToString("dd/MM/yyyy")" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Situação" Value="@Situacao" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Tem Conserto" Value="@TemConserto" ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Variant="Variant.Outlined" Label="Resposta do Cliente" Value="@Resposta" ReadOnly="true" />
                </MudItem>
            </MudGrid>

            <!-- BOTÃO -->
            <div class="flex justify-end mt-6">
                <MudButton @onclick="Repaired"
                           EndIcon="@Icons.Material.Filled.Done"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           Class="text-white text-lg font-semibold px-6 py-2 rounded-lg shadow-md transition">
                    Consertado
                </MudButton>
            </div>
        </MudPaper>
    </DialogContent>
</MudDialog>




@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public ServiceOrder ServiceOrder { get; set; } = null!;
    [Parameter] public EventCallback OnRepairAdded { get; set; }
    [Inject] public ServiceOrderHandler ServiceOrderHandler { get; set; } = null!;
    [Inject] public ISnackbar Snackbar { get; set; } = null!;

    public async Task Repaired()
    {
        try
        {
            var result = await ServiceOrderHandler.AddServiceOrderRepair(new GetServiceOrderByIdCommand { Id = ServiceOrder.Id });

            if (result.IsSuccess)
            {
                Snackbar.Add("Conserto concluído com sucesso!", Severity.Success);
                await OnRepairAdded.InvokeAsync();
                MudDialog.Close(DialogResult.Ok(true));
            }
            else
                Snackbar.Add(result.Message ?? "Ocorreu um erro ao concluir o conserto!", Severity.Error);
        }
        catch (Exception e)
        {
            Snackbar.Add(e.Message, Severity.Error);
        }
    }

    public string Situacao =>
        ServiceOrder.ServiceOrderStatus switch
        {
            EServiceOrderStatus.Entered => "Avaliação pendente",
            EServiceOrderStatus.Evaluated => "Avaliado",
            EServiceOrderStatus.OrderPart => "Aguardando peça",
            EServiceOrderStatus.Repaired => "Consertado",
            EServiceOrderStatus.Delivered => "Entregue",
            _ => "Desconhecido"
        };

    public string TemConserto =>
        ServiceOrder.RepairResult switch
        {
            ERepairResult.Repair => "Sim",
            ERepairResult.Unrepaired => "Não",
            ERepairResult.NoDefectFound => "Não apresentou defeito",
            _ => "Desconhecido"
        };

    public string Resposta =>
        ServiceOrder.RepairStatus switch
        {
            ERepairStatus.Entered => "Sem orçamento ainda",
            ERepairStatus.Waiting => "Aguardando resposta",
            ERepairStatus.Approved => "Aprovado",
            ERepairStatus.Disapproved => "Não aprovou",
            _ => "Desconhecido"
        };

    private async Task UpdateLocation()
    {
        var command = new GetServiceOrderByIdCommand { Id = ServiceOrder.Id };
        
        var result = await ServiceOrderHandler.GetServiceOrderById(command);
        if (result.IsSuccess)
        {
            if (result.Data != null)
            {
                ServiceOrder.Product.AddLocation(result.Data.Product.Location);
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("Ocorreu um erro ao obter a ordem de serviço", Severity.Error);
            }
        }
    }
}